#sliderBtn {
    z-index: 999;
    top: 50% !important;
    left: 30%;
    /* transform: translate(-50%, -50%); */
    position: absolute;
}
#sliderBtn1 {
    z-index: 999;
    top: 50% !important;
    /* transform: translate(-50%, -50%); */
    position: absolute;
    right: 30%;
}

.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.image-container:hover .image-text {
    opacity: 1;
    height: 100% !important;
}

.cstm_imagerestaurant {
    height: auto;
    width: 100px;
    object-fit: cover;
}

#selectedImageContainer {
    background-size: cover;
    background-repeat: no-repeat;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    padding-top: 30px !important;
}

